---
title: DataCite - Business Model Principles
---

<header class="image-bg-fixed-height-small">
  <div class="jumbotron">
    <h1>
      Business Model Principles
    </h1>
  </div>
</header>

<section>
  <div class="container section-content">
    <h1>
      This version is only provided for archival purposes
    </h1>
		<p>
			<strong>Title:</strong> Business Models Principles (version 1.0)
			<br />
			<strong>Publication year:</strong> 2012
			<br />
			<strong>Creator:</strong> DataCite Business Practices Working Group
			<br />
			<strong>Contributors:</strong> Karen Morgenroth, Paul Bracke, 
			Lee-Ann Coleman, Cyndie Found, Angela Gastl, Herbert Gruttemeier, 
			Brigitte Hausstein, Joan Starr, Frauke Ziedorn
		</p>
		<p>
			<strong>File:</strong>
			<a href="Business_Models_Principles_v1.0.pdf">
				Business Model Principles (version 1.0)
			</a>
		</p>
  </div>
</section>
