---
title: DataCite - DataCite Statutes
---

<header class="image-bg-fixed-height-small">
  <div class="jumbotron">
    <h1>
      DataCite Statutes - 26 April 2022 (latest)
    </h1>
  </div>
</header>

<section>
  <div class="container section-content">
    <h1>
			DataCite ‐ International Data Citation Initiative e.V. Statutes<br />
			of 24 November 2009 as amended on 26 February 2016, 01 April 2019, and 26 April 2022
    </h1>
		<p>
			<strong>Title:</strong> DataCite ‐ International Data Citation Initiative e.V. Statutes
			<br />
			<strong>Publication year:</strong> 2022
			<br />
			<strong>Creator:</strong> DataCite General Assembly
		</p>
		<p>
			<strong>File:</strong>
			<a href="/documents/Statutes_26April2022.pdf">
				DataCite Statutes - 26 April 2022 (Official Translation, English)
			</a>
		</p>
  </div>
</section>
