---
title: DataCite - DataCite Statutes
---

<header class="image-bg-fixed-height-small">
  <div class="jumbotron">
    <h1>
      DataCite Statutes - 01 April 2019 (latest)
    </h1>
  </div>
</header>

<section>
  <div class="container section-content">
    <h1>
			DataCite ‐ International Data Citation Initiative e.V. Statutes<br />
			of 24 November 2009 as amended on 26 February 2016 and 01 April 2019 
    </h1>
		<p>
			<strong>Title:</strong> DataCite ‐ International Data Citation Initiative e.V. Statutes
			<br />
			<strong>Publication year:</strong> 2019
			<br />
			<strong>Creator:</strong> DataCite General Assembly
		</p>
		<p>
			<strong>File:</strong>
			<a href="/documents/Statutes_1Apr2019_final_English.pdf">
				DataCite Statutes - 01 April 2019 (Official Translation, English)
			</a>
		</p>
  </div>
</section>
