---
title: DataCite - Business Model Principles
---

<header class="image-bg-fixed-height-small">
  <div class="jumbotron">
    <h1>
      DataCite Statutes - 26 February 2016 (latest)
    </h1>
  </div>
</header>

<section>
  <div class="container section-content">
    <h1>
			DataCite ‐ International Data Citation Initiative e.V. Statutes<br />
			of 24 November 2009 as amended on 26 February 2016
    </h1>
		<p>
			<strong>Title:</strong> DataCite ‐ International Data Citation Initiative e.V. Statutes
			<br />
			<strong>Publication year:</strong> 2016
			<br />
			<strong>Creator:</strong> DataCite General Assembly
		</p>
		<p>
			<strong>File:</strong>
			<a href="DataCite_Statutes_officialTranslation_26February2016_final.pdf">
				DataCite Statutes - 26 February 2016 (Official Translation, English)
			</a>
		</p>
  </div>
</section>
