pre.metadata {
  font-size: 12px;
  background: white;
}
textarea.metadata {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 12px;
  border-left-width: 1px;
  border-left-color: #E3E3E3;
}
select.metadata {
  border-left-width: 1px;
  border-left-color: #E3E3E3;
}
