h3.results {
  margin: 0 0 .35em .75em;
  font-weight: bold;
}
.col-md-9#content-work, .col-md-9#content-contributor, .col-md-9#content-data-center {
  padding-bottom: 2em;
}
.img-big {
  margin: 4.5em 0 2em 0;
}
.centered, .search {
  margin: auto;
  max-width: 700px;
  padding-bottom: 1.5em;
}
