<% wrap_layout :layout do %>
  <header class="image-bg-fixed-height-small">
    <div class="jumbotron">
      <h1><%= current_page.data.title %></h1>
    </div>
  </header>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-9 section-content" id="content">
          <%= yield %>
        </div>
        <% if current_page.data.link.present? || current_page.data.intended_users.present? %>
          <div class="col-md-3 bg-primary sidebox">
            <h1>access details</h1>
            <ul>
              <% if current_page.data.link.present? %>
                <li> Accessible through:
                  <br /><i class="fa fa-external-link"></i>
                  <%= link_to current_page.data.link, current_page.data.link %>
                </li>
              <% end %>
              <% if current_page.data.intended_users.present? %>
                <li> Intended users:
                  <ul class="dashed">
                    <% current_page.data.intended_users.each do |user| -%>
                    <li><%= user %></li>
                    <% end -%>
                  </ul>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </section>
<% end %>

<script src="/javascripts/roadmap.js"></script>
