<% wrap_layout :layout do %>
  <header class="image-bg-fixed-height-small">
    <div class="jumbotron">
      <h1><%= current_page.data.title %></h1>
    </div>
  </header>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-9 section-content">
          <%= yield %>
        </div>
        <% if current_page.data.link.present? || current_page.data.intended_users.present? %>
          <div class="col-md-3 bg-primary sidebox">
            <h1>access details</h1>
            <ul>
              <% if current_page.data.link.present? %>
                <li> Accessible through:
                  <br /><i class="fa fa-external-link"></i>
                  <%= link_to current_page.data.link, current_page.data.link %>
                </li>
              <% end %>
              <% if current_page.data.intended_users.present? %>
                <li> Intended users:
                  <ul class="dashed">
                    <% current_page.data.intended_users.each do |user| -%>
                    <li><%= user %></li>
                    <% end -%>
                  </ul>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
      <div class="row">
        <div class='col-md-9 section-content' id="content">
          <div class="search-wide">
            <form action="/user-stories.html" method="get" id="search-form" class="form-horizontal" role="form">
              <div class="input-group">
                <input type="text" id="query" name="query" placeholder="Search user stories" class="form-control">
                <div class="input-group-btn">
                  <button type="submit" class="btn btn-primary hidden-xs">Search</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class='col-md-3'>
          <div id="categories"></div>
          <div id="stakeholders"></div>
          <div id="state"></div>
        </div>
      </div>
    </div>
  </section>
<% end %>

<script src="/javascripts/user_story.js"></script>
