<div id="consent"></div>
<script src="/javascripts/consent.js"></script>
<script>
  window.onUsersnapCXLoad = function(api) {
    api.init();
  }
  var script = document.createElement('script');
  script.defer = 1;
  script.src = 'https://widget.usersnap.com/global/load/b4393e90-ec13-4338-b299-7b6f122b7de3?onload=onUsersnapCXLoad';
  document.getElementsByTagName('head')[0].appendChild(script);
</script>
<% if ENV['SITE_GA'].present? %>
  <div id="ga" data-ga="<%= ENV['SITE_GA'] %>"></div>
  <script src="/javascripts/ga.js"></script>
<% end %>
