<div id="consent"></div>
<script src="/javascripts/consent.js"></script>
<script type="text/javascript">
  (function() {
  var s = document.createElement("script");
  s.type = "text/javascript";
  s.async = true;
  s.src = '//api.usersnap.com/load/'+
          '6d0c32c3-844a-47f4-b3c6-3a4cb9e9af7c.js';
  var x = document.getElementsByTagName('script')[0];
  x.parentNode.insertBefore(s, x);
  })();
</script>
<% if ENV['SITE_GA'].present? %>
  <div id="ga" data-ga="<%= ENV['SITE_GA'] %>"></div>
  <script src="/javascripts/ga.js"></script>
<% end %>
