<div class="navbar subnav hidden-xs" role="navigation">
  <div class="navbar-inner">
    <div class="container-fluid">
      <h1 class="navbar-text">{{ page.title }}</h1>
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden-sm"><a href="/about">About</a></li>
        <li class="hidden-sm"><a href="/members">Members</a></li>
        <li class="hidden-sm"><a href="/services">Services</a></li>
        <li class="dropdown hidden-sm hidden-md">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Support <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="https://github.com/datacite/homepage/issues">Github Issues</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
