<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    {% include navigation.html %}
    <div class="container-fluid">
      <div class='row'>
        <div class='col-md-8'>
          <div class="panel panel-default">
            <div class="panel-body post-content">
              {{ content }}
            </div>
          </div>
        </div>
        <div class='col-md-4'>
          <div class="container-fluid">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="bottom-teaser cf">
                  <div class="isLeft">
                    {%if page.logo %}
                    <div class="member-image" style="background-image: url(/assets/images/members/{{page.logo}})">Blog Logo</div>
                    {% endif %}
                    <h4>{{ page.title }}</h4>
                    <p class="published">{{ page.category }}</p>
                    <p class="published">{{ page.country }}</p>
                    {%if page.website %}
                    <p class="published"><a href="{{ page.website }}">{{ page.website }}</a></p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include footer.html %}
    {% include javascripts.html %}
    {% include google_analytics.html %}
  </body>
</html>
