---
title: DataCite - Acknowledgements
---

    <header class="image-bg-fixed-height-small">
		<div class="jumbotron">
		  <h1>Acknowledgements</h1>
		</div>
    </header>

	<section>
		<div class="container section-content">
			<h1>big thanks to...</h1>
			<p><i class="fa fa-heart"></i> All our members and reviewers, this website would not be consistent or complete without their help</p>
			<p><i class="fa fa-heart"></i> The services Flaticon and Freepik, for providing excellent images, icons and resources</p>
			<p><i class="fa fa-heart"></i> Our users for allowing us to display beautiful dataset images under the Welcome to DataCite section:</p>
			<p>
				- CERN for ... <br />
			</p>
			
		</div>
	</section>
