---
title: DataCite - Acknowledgements
---

    <header class="image-bg-fixed-height-small">
		<div class="jumbotron">
		  <h1>Acknowledgements</h1>
		</div>
    </header>

	<section>
		<div class="container section-content">
			<h1>Thanks to...</h1>
			<p>- Flaticon and freepik.</p>
		</div>
	</section>
