---
title: DataCite - Annual Reports
---

<header class="image-bg-fixed-height-small">
  <div class="jumbotron">
    <h1>
      DataCite Annual Reports
    </h1>
  </div>
</header>

<section>
  <div class="container section-content">
    <h1>Annual Reports</h1>
    <p>
      Along with DataCite’s members, the Executive Board is the governing body
      of the association. The Executive Board consists of a President, four
      Vice Presidents (one of them being the Deputy President) and a Treasurer.
      One member of the Executive Board is an ex-officio representative of the
      Business Office. Members of the Executive Board are elected by members at
      the annual General Assembly and serve for a period of two years.
    </p>
  </div>
</section>
