---
title: DataCite - Membership Application Form
---

<header class="image-bg-fixed-height-small">
  <div class="jumbotron">
    <h1>Membership Application Form</h1>
  </div>
</header>

<section>
  <div class="container section-content">
    <form class="form-horizontal" action=""https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">
      
      
      <input type=hidden name='captcha_settings' value='{"keyname":"reCAPTCHA","fallback":"true","orgId":"00D1U0000010BGz","ts":""}'>
    
      <input type="hidden" name="oid" value="00D1U0000010BGz">
      <input type="hidden" name="retURL" value="https://www.datacite.org/">
      
      <!--  ----------------------------------------------------------------------  -->
      <!--  NOTE: These fields are optional debugging elements. Please uncomment    -->
      <!--  these lines if you wish to test in debug mode.                          -->
      <!--  <input type="hidden" name="debug" value=1>                              -->
      <!--  <input type="hidden" name="debugEmail" value="sean.canny@gmail.com">    -->  
      <!--  ----------------------------------------------------------------------  -->

      <hr/>

      <div class="form-group">
        <label for="company" class="col-sm-4 control-label">1. Organization's Legal Name</label>
        <div class="col-sm-6">
          <input class="form-control" id="company" maxlength="40" name="company" size="20" type="text" required="true"  />
        </div>
      </div>

      <div class="form-group">
        <label for="url" class="col-sm-4 control-label">2. Website</label>
        <div class="col-sm-6">
          <input class="form-control" id="URL" maxlength="80" name="URL" size="20" type="text" required="true" placeholder="Must start with http:// or https:// - e.g., https://www.google.com" pattern="https?://.+"/>
        </div>
      </div>

      <div class="form-group">
        <label for="mission" class="col-sm-4 control-label">3. Mission of the organisation</label>
        <div class="col-sm-6">
          <textarea class="form-control" id="00N1U00000U3k8S" name="00N1U00000U3k8S" rows="5" type="text" wrap="soft" required="true"></textarea>
        </div>
      </div>

      <div class="form-group">
        <label for="reason" class="col-sm-4 control-label">4. Reason for joining DataCite</label>
        <div class="col-sm-6">
          <textarea class="form-control" id="00N1U00000U3k8T" name="00N1U00000U3k8T" rows="5" type="text" wrap="soft" required="true"></textarea>
        </div>
      </div>

      <div class="form-group">
        <label for="assign" class="col-sm-4 control-label">5. Does your organization plan to assign DOIs?</label>
        <div class="col-sm-6">
          <input class="form-control" id="00N1U00000U3k8Q" name="00N1U00000U3k8Q" type="checkbox" value="1" required="true"/>
        </div>
      </div>

      <div class="form-group">
        <label for="tax-status" class="col-sm-4 control-label">6. What is the tax status of your organization?</label>
        <div class="col-sm-6">
          <select class="form-control" id="00N1U00000U3k8U" name="00N1U00000U3k8U" title="Tax Status" required="true">
            <option value="">--None--</option>
            <option value="Non-profit">Non-profit</option>
            <option value="For-profit">For-profit</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="revenue" class="col-sm-4 control-label">7. If you are a for-profit organization, what is your annual revenue?</label>
        <div class="col-sm-6">
          <select class="form-control" id="00N1U00000U3k8P" name="00N1U00000U3k8P" title="Annual Revenue (For-profit)" required="true">
            <option value="">--None--</option>
            <option value="&gt;1,000,000€">&gt;1,000,000€</option>
            <option value="&lt;1,000,000€">&lt;1,000,000€</option>
          </select>
        </div>
      </div>

      <h2>Contact Information</h2>

      <div class="form-group">
        <label for="first_name" class="col-sm-4 control-label">8. First Name</label>
        <div class="col-sm-6">
          <input class="form-control" id="first_name" maxlength="40" name="first_name" size="20" type="text" required="true"/>
        </div>
      </div>

      <div class="form-group">
        <label for="last_name" class="col-sm-4 control-label">9. Last Name</label>
        <div class="col-sm-6">
          <input class="form-control" id="last_name" maxlength="80" name="last_name" size="20" type="text" required="true"/>
        </div>
      </div>

      <div class="form-group">
        <label for="email" class="col-sm-4 control-label">10. Email</label>
        <div class="col-sm-6">
          <input class="form-control" id="email" maxlength="80" name="email" size="20" type="email" placeholder="Enter a valid email address" required="true"/>
        </div>
      </div>

      <div class="form-group">
        <label for="phone" class="col-sm-4 control-label">11. Phone</label>
        <div class="col-sm-6">
          <input class="form-control" id="phone" maxlength="40" name="phone" size="20" type="text" required="true"/>
        </div>
      </div>

      <h2>Mailing Address</h2>

      <div class="form-group">
        <label for="street" class="col-sm-4 control-label">12. Street</label>
        <div class="col-sm-6">
          <textarea class="form-control" name="street" required="true"></textarea>
        </div>
      </div>

      <div class="form-group">
        <label for="city" class="col-sm-4 control-label">13. City</label>
        <div class="col-sm-6">
          <input class="form-control" id="city" maxlength="40" name="city" size="20" type="text" required="true"/>
        </div>
      </div>

      <div class="form-group">
        <label for="state" class="col-sm-4 control-label">14. State/Province</label>
        <div class="col-sm-6">
          <input class="form-control" id="state" maxlength="20" name="state" size="20" type="text" required="true"/>
        </div>
      </div>

      <div class="form-group">
        <label for="zip" class="col-sm-4 control-label">15. Zip/Postal Code</label>
        <div class="col-sm-6">
          <input class="form-control" id="zip" maxlength="20" name="zip" size="20" type="text" required="true"/>
        </div>
      </div>

      <div class="form-group">
        <label for="country" class="col-sm-4 control-label">16. Country</label>
        <div class="col-sm-6">
          <input class="form-control" id="country" maxlength="40" name="country" size="20" type="text" required="true"/>
        </div>
      </div>
      
      <div class="col-sm-offset-4 col-sm-6">
        <div class="g-recaptcha" data-sitekey="6LdA86YUAAAAAP2YePPFVdeoehoZxJhY1FZISljh"></div>
        <br>
      </div> 
      
      <div class="col-sm-offset-4 col-sm-6">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>

    </form>
  </div>
</section>
