---
title: DataCite - Membership Application Form
---

<header class="image-bg-fixed-height-small">
  <div class="jumbotron">
    <h1>Membership Application Form</h1>
  </div>
</header>

<section>
  <div class="container section-content">
    <h3>Please contact <a href="mailto:support@datacite.org">DataCite Support</a>.</h3>
  </div>
</section>
