---
title: DataCite - Become a Member
---

    <header class="image-bg-fixed-height-small">
		<div class="jumbotron">
		  <h1>Become a member</h1>
		</div>
    </header>

	<section>
		<div class="container section-content">
			<h1>why join datacite ?</h1>
			<p>Data are essential building blocks of scholarship and research. Being able to share data effectively 
				is therefore extremely important. At DataCite, we develop and support tools and methods that make data
				more accessible and more useful.
			</p>
 
			<p>We invite members from all types of organisations – including data centres, publishers, libraries, and 
				funders – to join our global network committed to supporting data sharing through partnership, advocacy, 
				and by developing tools and services that accelerate data sharing, use, and reuse. Together, we will be 
				at the forefront of helping to transform scholarship and the role of research data in our society.
			 </p>
 
			<p>As a DataCite member, organisations show their support for research data sharing in the following manner:
				<br /><br />
				- They demonstrate an elevated level of commitment to open-data and open research.
				<br />
				- They become part of a global data-sharing community, learning, collaborating, and
				advocating with a leading-edge network of data research experts.
				<br />
				- They support and participate in the creation and management of persistent identifiers (DOIs) for research outputs (Allocating	Members only).
				<br />
				- They play a critical role in advancing DataCite’s data-sharing mission through their financial support.
				<br />
				- They can also shape the future DataCite – and data research in general – by serving on our Executive Board.
			</p>
			
			<p>
				We have two types of memberships:
				<br /><br />
				- Allocating Members – those that supply DOIs for datasets.
				<br />
				- Non-Allocating Members – those that support our data sharing mission.
			</p>
		</div>
	</section>
	
    <section>
        <div class="container-fluid bg-primary">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="svc-heading">Data sharing for your organisation</h1>
				</div>
				<div class="container">
					<div class="row text-center">
						<div class="col-md-6 col-sm-6 svc-item">
							<div class="thumbnail">
								<div class="caption" data-toggle="collapse" data-target="#datacentres">
									<%= image_tag "become_datacentres.svg", :width => '120' %><br />
									<h2>Data Centres</h2>
								</div>
								<div id="datacentres" class="collapse stakeholderdescription">
				<p>
					Data sharing is an increasingly important issue in the research community. At DataCite, we
					understand and share the specific goals of data centres, which include user-friendly submission 
					processes, wider implementation of citation formats and standards, new cooperation services 
					with publishers and libraries, and a common system of credit and recognition for data production 
					and sharing. We also educate researchers in the mechanics and benefits of citing data.
				</p>
				</div>								
							</div>
						</div>
						<div class="col-md-6 col-sm-6 svc-item">
							<div class="thumbnail">
								<div class="caption" data-toggle="collapse" data-target="#publishers">
									<%= image_tag "become_publishers.svg", :width => '120' %><br />
									<h2>Publishers</h2>
								</div>
								<div id="publishers" class="collapse stakeholderdescription">
			<p>
				Authors increasingly need journals to provide access to the data behind their research
				papers. At DataCite, we work with publishers to create, support, and promote the
				infrastructure for enabling data sharing and discovery (in particular, by facilitating
				partnerships between publishers and data centres/repositories). Together with publishers,
				we provide tools and services that help facilitate and promote data sharing, which, in turn,
				increases the impact, the number of citations, and the prestige of publications.
			</p>
								</div>								
							</div>
						</div>
					</div>
					<div class="row text-center">
						<div class="col-md-6 col-sm-6 svc-item">
							<div class="thumbnail">
								<div class="caption" data-toggle="collapse" data-target="#researchorgs">
									<%= image_tag "become_research.svg", :width => '120' %><br />
									<h2>Research Institutions</h2>
								</div>
								<div id="researchorgs" class="collapse stakeholderdescription">
			<p>
				Having an infrastructure for data preservation is easier – and more cost-effective in the long
				run – than data regeneration. Moreover, extending that infrastructure to boost data sharing
				allows research organisations and libraries to increase their level of support to researchers
				and other data generators. With DataCite, you have a partner for promoting the benefits of
				data sharing. We can also take an active role in working with publishers and data centres to
				establish an incentive system that credits and recognizes researchers for their shared data.
			</p>
								</div>								
							</div>
						</div>
						<div class="col-md-6 col-sm-6 svc-item">
							<div class="thumbnail">
								<div class="caption" data-toggle="collapse" data-target="#funders">
									<%= image_tag "become_funders.svg", :width => '120' %><br />
									<h2>Funders</h2>
								</div>
								<div id="funders" class="collapse stakeholderdescription">
			<p>
				In recent years, many funding organisations have mandated data sharing as part of their
				grant-funding initiatives. By providing a registry of DOIs, DataCite helps organisations
				overcome the challenge of tracking data related to funding and allows them to better
				understand the impact of their funding. 
			</p>
								</div>								
							</div>
						</div>
					</div>
				</div>
            </div>
        </div>
    </section>
	
	<section>
		<div class="container section-content">
			<h1>how to join datacite ?</h1>
			<p>Text</p>
 	   </div>
	</section>
