---
title: DataCite - DataCite Board Applications
---

<header class="image-bg-fixed-height-small">
  <div class="jumbotron">
    <h1>
      DataCite Board Applications
    </h1>
  </div>
</header>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-9 section-content">
        <h1>service description</h1>
          <p>
DataCite, a global non-profit organisation that provides persistent identifiers (DOIs) for research data, is looking for new members to join our 
<a href="board.html">Executive Board</a>.
        </p>
        <p>
Our goal is to help the research community locate, identify, and cite research data with confidence. The Executive Board is critical to achieving this goal, supporting the DataCite staff in executing the vision of the organisation. Individuals affiliated with <a href="members.html">DataCite member organisations</a> are encouraged to apply. The current Executive Board will prepare a candidate slate representing organisation diversity and balanced skills sets. The General Assembly will formally elect the Board in April 2017 and successful candidates will take office in April 2017. Board members will serve two-year terms. 
        </p>
				<p>
					<b><a href="https://docs.google.com/forms/d/e/1FAIpQLSdSfM7ZkvaR0FoUZotlLnAPbh-yP8ZJdQWkJmHWGXi6NlFmuw/viewform">Apply before Feb 15, 2017</a></b>
        </p>
				<p>
The process is simple.  An <a href="https://docs.google.com/forms/d/e/1FAIpQLSdSfM7ZkvaR0FoUZotlLnAPbh-yP8ZJdQWkJmHWGXi6NlFmuw/viewform">application form</a> asks for a few paragraphs with your vision for DataCite and how you can personally contribute your skills and experience.
        </p>
				
				<h1>Criteria and frequently asked questions</h1>
				<p>
				DataCite Executive Board’s election process is determined by the DataCite Statutes.  Below are several frequently asked questions that will help you understand our process and selection criteria.
				</p>
				<ol>
					<li>How long is the DataCite Board term?<br />
					2-years from point of election or ratification by the General Assembly. A maximum of two extensions is possible, but not necessary.<br /><br />

					<li>Who is eligible to be a Board member?<br />
					Individuals at any DataCite member institutions.  <br /><br />

					<li>What makes an effective DataCite Executive Board?
						<ul>
							<li>Board Members with an understanding and a passion for data sharing and a clear vision of DataCite’s role in data intensive research
							<li>Members that are open and can communicate clearly, listen, and learn from others
							<li>Members that have time to participate fully in DataCite activities
							<li>Previous experience at Board level
							<li>Diversity -- broad geographic representation, a range of institution types (national, academic, research organization, commercial companies), and a range of skill sets (operations, planning, financial, data services, technical, policy)
							</ul><br />
				
					<li>What does the DataCite Executive Board do?
						<ul>
							<li>In partnership with member organisations, create DataCite’s strategic activities
							<li>Support the DataCite staff in delivering the DataCite objectives
							<li>Work with DataCite staff to prepare and convene the General Assembly
							<li>Appoint working groups
							<li>Prepare an annual budget, and authorise possible additional expenditures
							<li>Represent DataCite and more!

						</ul><br />

					<li>How much time does this take?<br />
					The Board meets monthly for 60-90 minutes online. In addition, it typically meets face-to-face twice a year, at least once combined with the General Assembly. Ad hoc groups may meet in addition to this. <br /><br />
					The President and Treasurer, which are elected from Board members, spend considerable additional time on DataCite matters
					<br /><br />

					<li>How much are Board members paid?<br />
					Board members are not compensated for their contributions to DataCite. Costs (including travel to meetings) must be covered by their home institutions.<br /><br />

					<li>How do I apply?<br />
					Simply fill out the <a href="https://docs.google.com/forms/d/e/1FAIpQLSdSfM7ZkvaR0FoUZotlLnAPbh-yP8ZJdQWkJmHWGXi6NlFmuw/viewform">application form</a> by February 15, 2017.<br /><br />

					<li>When will the new term begin? <br />
					New board terms will begin after confirmation by the General Assembly in April 2017.

				</ol> 				
      </div>
			
			
      <div class="col-md-3 bg-primary sidebox">
        <h1>Timeline</h1>
        <ul>
          <li> <strong>December 2016</strong>:
            <br />Nomination form available. All DataCite members are eligible to apply.
          <li> <strong>Feb 15, 2017</strong>:
						<br />Closing date for applications.  Current Board to review.
          <li> <strong>March 1, 2017</strong>:
            <br />Current board to send information on selected candidates to DataCite General Assembly members for review.
          <li> <strong>April 3, 2017</strong>:
						<br />General Assembly meeting and formal vote of new Board.
          <li> <strong>April 2017</strong>:
						<br />Update all website and materials with new Board information.
        </ul>
      </div>
    </div>
  </div>
</section>