---
title: DataCite - Citation formatter
---

    <header class="image-bg-fixed-height-small">
		<div class="jumbotron">
		  <h1>Citation formatter</h1>
		</div>
    </header>

	<section>
		<div class="container section-content">
			<h1>service description</h1>
			<p>
				The DOI Citation Formatter is a service created in collaboration with CrossRef, mEDRA and ISTIC. In provides 
				a simple interface to extract metadata automatically from a DOI and build a full citation. It supports more 
				than 500 different citation styles in 45 different languages. 
			</p>
			<h1>access details</h1>
			<p>
				- Accessible through: <%= link_to 'http://crosscite.org/citeproc/', 'http://crosscite.org/citeproc/' %> 
				<br />
				- Intended users: Integrators, Community
			</p>
			
		</div>
	</section>
