---
title: DataCite - Content negotiation
---
<header class="image-bg-fixed-height-small">
  <div class="jumbotron">
    <h1>Content Negotiation</h1>
  </div>
</header>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-9 section-content">
        <h1>service description</h1>
        <p>
          Intended for use on the technical side of dataset management,
          DataCite's Content Resolver exposes the metadata held in the DataCite
          Metadata Store using multiple formats. It can also redirect to
          content hosted by DataCite participating data centres, allowing data
          to be accessed directly using
          a DOI.
        </p>
        <p>
          In addition, DataCite have joined forces with Crossref to establish
          a working HTTP Content Negotiation.
        </p>
      </div>
      <div class="col-md-3 bg-primary sidebox">
        <h1>access details</h1>
        <ul>
          <li> Accessible through:
            <br /> <i class="fa fa-external-link"></i>
            <%= link_to 'https://data.datacite.org',
            'https://data.datacite.org' %>
          <li>
            Intended users:
            <ul>
              <li>- DataCite members
                <br />- Users and integrators
            </ul>
          <li> User documentation:
            <br /> <i class="fa fa-external-link"></i>
            <%= link_to 'http://support.datacite.org',
            'https://support.datacite.org/docs/datacite-content-resolver' %>
        </ul>
        <h1>learn more</h1>
        <ul>
          <li>DOI Content Negotiation:
            <br /> <i class="fa fa-external-link"></i>
            <%= link_to 'https://citation.crosscite.org/',
            'https://citation.crosscite.org/' %>
        </ul>
      </div>
    </div>
  </div>
</section>
