---
title: DataCite - Governance
---

<header class="image-bg-fixed-height-small">
  <div class="jumbotron">
    <h1>
      DataCite Governance
    </h1>
  </div>
</header>


<section>
  <div class="container section-content">
    <h1>
			Governed by our community and directed by statutes
    </h1>

    <p>
    The strength of DataCite is based on its active membership. DataCite is governed by its members and Executive Board directed by our statutes. 
    </p>
  </div>
</section>


<section>
  <div class="container section-content">
    <h1> DataCite Members
    </h1>

    <p>
DataCite Members are the voting body of the organization. Membership is open to all entities that support DataCite’s data sharing mission. Members are governed by the statutes (the bylaws and operating procedures) of the organization. The statutes are developed, ratified, and approved by the members.

Members meet annually (General Assembly) to approve DataCite’s revenue and expenditures, stand and/or vote for the Executive Board, guide DataCite’s strategy, put forth resolutions and modifying the association’s statutes. Members also participate in DataCite’s Steering and Working Groups and provide input on new member acquisition.

    </p>
  </div>
</section>





<%= partial "includes/board_members.html.erb" %>




<section>
  <div class="container section-content">
    <h1> Strategic Plan
    </h1>

    <%= link_to 'Strategic Plan', '/documents/datacite_strategic_plan_ 2018-2021.pdf' %>
  </div>
</section>


<section>
  <div class="container section-content">
      <h1> Annual Reports
    </h1>
   <ol>
      <li><%= link_to 'Annual Report 2017', '/documents/datacite_annual_review_final.pdf' %></li>
      <li><%= link_to 'Annual Report 2018', '/documents/datacite_annual_review_2018_final.pdf' %></li>
    </ol>
  </div>
</section>

<section>
  <div class="container section-content">
    <h1> Statutes
    </h1>
    		<p>
			<strong>Title:</strong> DataCite ‐ International Data Citation Initiative e.V. Statutes
			<br />
			<strong>Publication year:</strong> 2016
			<br />
			<strong>Creator:</strong> DataCite General Assembly
		</p>
		<p>
			<strong>File:</strong>
			<a href="/documents/DataCite_Statutes_officialTranslation_26February2016_final.pdf">
				DataCite Statutes - 26 February 2016 (Official Translation, English)
			</a>
		</p>
  </div>
</section>

