---
title: DataCite - Invalid DOI
---

    <header class="image-bg-fixed-height-small">
		<div class="jumbotron">
		  <h1>Invalid DOI</h1>
		</div>
    </header>

	<section>
		<div class="container section-content">
			<h1>DOI without content</h1>
			<p>This DOI is no longer attached thiso any meaningful content.</p>
			<p>If you feel this is incorrect please contact
				<%= link_to 'support@datacite.org', 'mailto:support@datacite.org' %> and state
				where you found this DOI and which content it should describe.</p>
		</div>
	</section>
