---
title: DataCite - Membership Enquiry
---

<header class="image-bg-fixed-height-small">
  <div class="jumbotron">
    <h1>
      Membership Enquiry
    </h1>
  </div>
</header>

<section>
<div id="iFrameWrapper"><div id="ffDialog"></div><div id="ffLookupDialog"></div><iframe frameborder="0" style="position:relative;top:1em;left:0;width:100%;min-height:1300px;" scrolling="no" name="ffEmbedFrame" id="ffEmbedFrame"></iframe><script type="text/javascript">function FFSetIframeSize(t,e){var n=document.getElementById("ffEmbedFrame");n.height=t,n.width=e}var i=document.getElementById("ffEmbedFrame");i=i.contentWindow?i.contentWindow:i.contentDocument.document?i.contentDocument.document:i.contentDocument,i.document.open(),i.document.write('<script type="text/javascript" id="jsFastForms" src="https://sfapi.formstack.io/FormEngine/Scripts/Main.js?d=N5sfpqY_HIj6mWVrD0PZik2_xhWe-fUcbhNnRByU9y2a9-uAB6UUqZ1XvX1ZeBk2"></' + 'script>'),i.document.close();</script></div></div>
</section>
