---
title: DataCite - Members
---

<header class="image-bg-fixed-height-small">
  <div class="jumbotron">
    <h1>
      Members
    </h1>
  </div>
</header>

<section>
  <div class="container section-content">
    <h1>a community of members</h1>
    <p>
      DataCite's strength is rooted in its active membership. DataCite’s global
      community, from more than 42 countries, includes data centers, libraries,
      government agencies, research universities and more. DataCite members
      are the voting body of the organisation. Membership is open to all
      organisations that share our data sharing mission. DataCite’s members
      work with data centers, stewards, libraries, archives, universities,
      publishers and research institutes who have responsibility for managing,
      holding, curating, and archiving data.
    </p>
    <p>
      DataCite members enable data owners, stewards, or archives to assign persistent
      identifiers to research data. The list below provides details and contact
      information for all of DataCite’s members.
    </p>
    <p>
      Organizations wishing to become DataCite members are welcome to apply.
      For more on membership,
      <%= link_to 'visit this page', 'become.html' %>.
    </p>

    <h1>DataCite Members</h1>
    <script src="javascripts/members.js?version=1.0.59"></script>
    <div id="memberslist" class="panel-group search-wide" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab">
          <h2 id="direct_member_header" class="panel-title">
             <a role="button" data-toggle="collapse" data-parent="" href="#direct_member" aria-expanded="true" aria-controls="direct_member">Direct Members</a>
          </h2>
        </div>
        <div id="direct_member" class="member-list panel-collapse collapse"></div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab">
          <h2 id="consortium_header" class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="" href="#consortium" aria-expanded="true" aria-controls="consortium">Consortia</a>
          </h2>
        </div>
        <div id="consortium" class="member-list panel-collapse collapse"></div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab">
          <h2 id="member_only_header" class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="" href="#member_only" aria-expanded="true" aria-controls="member_only">Supporting Members</a>
          </h2>
        </div>
        <div id="member_only" class="member-list panel-collapse collapse"></div>
      </div>
    </div>
  </div>
</section>
