---
title: DataCite - Members
---

<header class="image-bg-fixed-height-small">
  <div class="jumbotron">
    <h1>
      Members
    </h1>
  </div>
</header>

<section>
  <div class="container section-content">
    <h1>a community of members</h1>
    <p>
      DataCite's strength is rooted in its active membership. DataCite’s global
      community, from more than 20 countries, includes data centers, libraries,
      government agencies, research universities and more. DataCite members
      are the voting body of the organisation. Membership is open to all
      organisations that share our data sharing mission. DataCite’s members
      work with data centers, stewards, libraries, archives, universities,
      publishers and research institutes who have responsibility for managing,
      holding, curating, and archiving data.
    </p>
    <p>
      DataCite does not allocate DOIs directly; this activity is undertaken by
      many of DataCite’s members, who act as DOI allocating agents. DataCite
      members enable data owners, stewards, or archives to assign persistent
      identifiers to research data. The list below provides details and contact
      information for all of DataCite’s members.
    </p>
    <p>
      Organizations wishing to become DataCite members are welcome to apply.
      For more on membership,
      <%= link_to 'visit this page', 'become.html' %>.
    </p>
  </div>
</section>
<section>
  <div class="container-fluid bg-primary">
    <div class="row">
      <div class="col-md-12">
        <h1 class="svc-heading">DataCite Members</h1>
      </div>
      <div class="container">
        <script src="javascripts/members.js"></script>
        <div id="memberslist"></div>
      </div>
    </div>
  </div>
</section>