---
title: DataCite - Mission
---

    <header class="image-bg-fixed-height-small">
		<div class="jumbotron">
		  <h1>Our Mission</h1>
		</div>
    </header>

	<section>
		<div class="container section-content">
			<h1>what we do</h1>
			<p>DataCite is a leading global non-profit organisation that provides persistent identifiers (DOIs) 
				for research data. Our goal is to help the research community locate, identify, and
				cite research data with confidence.
			</p>
			<p>We work on several fronts to achieve this goal. We support the creation and allocation of DOIs
				and accompanying metadata. We provide services that support the enhanced search and
				discovery of research content. And we promote data citation and advocacy through our
				community-building efforts and responsive communication and outreach materials.
			</p>
			<h1>how we work</h1>
			<p>
				DataCite offers a number of member services to meet the diverse needs of the global research
				community. We also bring this community together to address the challenges of making
				research data visible and accessible. And we collaborate as a global network of researchers to
				provide the following support to researchers, data centres, journal publishers, and funding
				agencies.	
			</p>
			<p>
				- We support researchers in their efforts to find, identify, and cite research data and 
				other research objects.
				<br />
				- We support data centres by providing DOIs for data publication datasets, workflows,
				and standards.
				<br />
				- We support journal publishers by enabling research articles to be linked to underlying
				data/objects.
				<br />
				- We support funding agencies by helping them understand the reach and impact of their funding.
			</p>
			<h1>assigning dois to datasets</h1>
			<p>
				By working closely with data centres to assign DOIs to datasets and other research objects, we
				are developing a robust infrastructure that supports simple and effective methods of data
				citation, discovery, and access. Citable data become legitimate contributions to scholarly
				communication, paving the way for new metrics and publication models that recognize and
				reward data sharing.	
			</p>
			<h1>datacite services</h1>
			<p>
				DataCite collaborates closely with the research community to develop services that support our 
				members’ needs and promote an open culture of data sharing. As a global leader in the field of 
				research data, we embrace the opportunity to develop and promote the research infrastructure 
				of the future through active engagement with our members, a multidisciplinary approach to 
				research data, and the technical expertise to deliver services that benefit the entire 
				research community.   
				
			</p>
			<h1>outreach and communication</h1>
			<p>
				Through community outreach, communication, and advocacy, DataCite provides leadership and 
				resources to the scholarly communication ecosystem and the research community. We organise 
				tailored training for our members and make our services visible in order to enhance the impact 
				of research content to our members as well as to the research community as a whole. 
			</p>
		</div>
	</section>
