---
title: DataCite - OAI-PMH
---

<header class="image-bg-fixed-height-small">
  <div class="jumbotron">
    <h1>
      OAI-PMH
    </h1>
  </div>
</header>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-9 section-content">
        <h1>service description</h1>
        <p>
          This DataCite service exposes metadata held in the DataCite Metadata
          Store (MDS) using the Open Archives Initiative Protocol for Metadata
          Harvesting (OAI-PMH).
        </p>
        <p>
          OAI-PMH is a protocol developed for harvesting metadata descriptions
          of records. Every implementation of OAI-PMH supports representing
          metadata in Dublin Core, but DataCite's service also supports OAI
          DataCite and the original DataCite Metadata Schema used to deposit
          the record.
        </p>
      </div>
      <div class="col-md-3 bg-primary sidebox">
        <h1>access details</h1>
        <ul>
          <li> Accessible through:
            <br /> <i class="fa fa-external-link"></i>
            <%= link_to 'http://oai.datacite.org', 'http://oai.datacite.org' %>
          <li>
            Intended users:
            <ul>
              <li>- DataCite members
                <br />- Users and integrators
                <br />- Community
            </ul>
          <li> Availability:
            <br /> <i class="fa fa-external-link"></i>
            <%= link_to 'http://status.datacite.org',
            'http://status.datacite.org' %>
        </ul>
        <h1>learn more</h1>
        <ul>
          <li>OAI-PMH Standard:
            <br /> <i class="fa fa-external-link"></i>
            <%= link_to 'http://www.openarchives.org/...',
            'http://www.openarchives.org/pmh/' %>
        </ul>
      </div>
    </div>
  </div>
</section>