---
title: DataCite - OAI-PMH
---

    <header class="image-bg-fixed-height-small">
		<div class="jumbotron">
		  <h1>OAI-PMH</h1>
		</div>
    </header>

	<section>
		<div class="container section-content">
			<h1>service description</h1>
			<p>
				This DataCite service exposes metadata held in the DataCite Metadata Store (MDS) using the 
				Open Archives Initiative Protocol for Metadata Harvesting (OAI-PMH).
			</p>
			<p>
				OAI-PMH is a protocol developed for harvesting metadata descriptions of records. Every 
				implementation of OAI-PMH supports representing metadata in Dublin Core, but DataCite's service 
				also supports OAI DataCite and the original DataCite Metadata Schema used to deposit the record.
			</p>
			<h1>access details</h2>
			<p>
				- Accessible through: <%= link_to 'http://oai.datacite.org', 'http://oai.datacite.org' %> <br />
				- Intended users: Community<br />
				- Availability: <%= link_to 'http://status.datacite.org', 'http://status.datacite.org' %>
			</p>
			<h1>Learn more</h1>
			<p>
			- OAI-PMH Standard: <%= link_to 'http://www.openarchives.org/pmh/', 'http://www.openarchives.org/pmh/' %> 
			</p>
			
		</div>
	</section>
