---
title: Welcome to DataCite
---

    <header class="image-bg-fixed-height-small">
		<div class="jumbotron">
		  <h1>Privacy Policy</h1>
		</div>
    </header>

	<section>
		<div class="container section-content">
			<h1>datacite privacy policy</h1>
			
			<p><strong>1. Introduction</strong></p>
			<p>1.1 DataCite is committed to safeguarding the privacy of our website visitors; in this policy we explain how we will treat your personal information.</p>

			<p><strong>2. Credit</strong></p>
			<p>2.1. This document was created using a template from SEQ Legal (http://www.seqlegal.com). You must retain the above credit, unless you purchase a licence to use this document without the credit. You can purchase a licence at: http://www.website-contracts.co.uk/seqlegal-licences.html. Warning: use of this document without the credit, or without purchasing a licence, is an infringement of copyright.</p>

			<p><strong>3. Collecting personal information</strong></p>
			<p>3.1. We may collect, store and use the following kinds of personal information:</p>
			<p>i. information about your computer and about your visits to and use of this website;</p>
			<p>ii. information that you provide when completing your profile on our website;</p>
			<p>iii. information that you provide us when registering for a webinar, conference or other event; </p>
			<p>iv. information that you provide to us for the purpose of subscribing to our email  or notification service;</p>
			<p>v. information that you provide to us when using the services on our website, or that is generated in the course of the use of those services;</p>
			<p>vi. information that you post to our website or blog for use;</p>
			<p>vii. information contained in or relating to any communication that you send to us or send through our website; and</p>
			<p>vii. any other personal information that you choose to send to us.</p>
			<p>3.2. Before you disclose to us the personal information of another person, you must obtain that person's consent to both the disclosure and the processing of that personal information in accordance with this policy.</p>

			<p><strong>4. Using personal information</strong></p>
			<p>4.1. Personal information submitted to us through our website will be used for the purposes specified in this policy or on the relevant pages of the website.</p>
			<p>4.2. We may use your personal information to: </p>
			<p>i. administer our website and business;</p>
			<p>ii. enable your use of the services available on our website;</p>
			<p>iii. send statements, invoices and payment reminders to you, and collect payments from you;</p>
			<p>iv. send you non-marketing communications;</p>
			<p>v. send you email notifications that you have specifically requested;</p>
			<p>vi. send you communications relating to DataCite which we think may be of interest to you, by post or, where you have specifically agreed to this, by email or similar technology (you can inform us at any time if you no longer require marketing communications);</p>
			<p>vii. provide third parties with statistical information about our users (but those third parties will not be able to identify any individual user from that information);</p>
			<p>viii. deal with enquiries and complaints made by or about you relating to our website;</p>
			<p>ix. keep our website secure and prevent fraud; and</p>
			<p>x. verify compliance with the terms and conditions governing the use of our website and services. </p>
			<p>4.3. If you submit personal information we make available through our website, we will publish and otherwise use that information in accordance with the licence you grant to us.</p>
			<p>4.4. We will not, without your express consent, supply your personal information to any third party for the purpose of their or any other third party's direct marketing.</p>

			<p><strong>5. Disclosing personal information</strong></p>
			<p>5.1. We may disclose your personal information to DataCite staff, the Executive Board, insurers, professional advisers, agents, suppliers or subcontractors insofar as reasonably necessary for the purposes set out in this policy.</p>
			<p>5.2. We may disclose your personal information: </p>
			<p>i. to the extent that we are required to do so by law;</p>
			<p>ii. in connection with any ongoing or prospective legal proceedings;</p>
			<p>iii. in order to establish, exercise or defend our legal rights (including providing information to others for the purposes of fraud prevention and reducing credit risk);</p>
			<p>5.3. Except as provided in this policy, we will not provide your personal information to third parties.</p>

			<p><strong>6. International data transfers</strong></p>
			<p>6.1. Information that we collect may be stored and processed in and transferred between any of the countries in which we operate in order to enable us to use the information in accordance with this policy.</p>
			<p>6.2. Personal information that you provide on our website or submit for access on our website may be available, via the internet, around the world. We cannot prevent the use or misuse of such information by others.</p>
			<p>6.3. You expressly agree to the transfers of personal information described in this Section 6.</p>

			<p><strong>7. Retaining personal information</strong></p>
			<p>7.1. This Section sets out our data retention policies and procedure, which are designed to help ensure that we comply with our legal obligations in relation to the retention and deletion of personal information.</p>
			<p>7.2. Personal information that we process for any purpose or purposes shall not be kept for longer than is necessary for that purpose or those purposes.</p>
			<p>7.3. Notwithstanding the other provisions of this Section 7, we will retain documents (including electronic documents) containing personal data: </p>
			<p>i. to the extent that we are required to do so by law;</p>
			<p>ii. if we believe that the documents may be relevant to any ongoing or prospective legal proceedings; and</p>
			<p>iii. in order to establish, exercise or defend our legal rights (including providing information to others for the purposes of fraud prevention and reducing credit risk).</p>

			<p><strong>8. Security of personal information</strong></p>
			<p>8.1. We will take reasonable technical and organisational precautions to prevent the loss, misuse or alteration of your personal information.</p>
			<p>8.2. We will store all the personal information you provide on secure servers.</p>
			<p>8.3. You acknowledge that the transmission of information over the internet is inherently insecure, and we cannot guarantee the security of data sent over the internet.</p>
			<p>8.4. You are responsible for keeping the password you use for accessing parts of our website confidential; we will not ask you for your password.</p>

			<p><strong>9. Amendments</strong></p>
			<p>9.1. We may update this policy from time to time by publishing a new version on our website.</p>
			<p>9.2. You should check this page occasionally to ensure you are happy with any changes to this policy.</p>
			<p>9.3. We may notify you of changes to this policy by email or through the private messaging system on our website.</p>

			<p><strong>10. Your rights</strong></p>
			<p>10.1. You may instruct us to provide you with any personal information we hold about you; provision of such information will be subject to the supply of appropriate evidence of your identity.</p>
			<p>10.2. We may withhold personal information that you request to the extent permitted by law.</p>
			<p>10.3. You may instruct us at any time not to process your personal information for marketing purposes.</p>
			<p>10.4. In practice, you will usually either expressly agree in advance to our use of your personal information for marketing purposes, or we will provide you with an opportunity to opt out of the use of your personal information for marketing purposes.</p>

			<p><strong>11. Third party websites</strong></p>
			<p>11.1. Our website includes links to, and details of, third party websites.</p>
			<p>11.2. We have no control over, and are not responsible for, the privacy policies and practices of third parties.</p>

			<p>12. Updating information</p>
			<p>12.1. Please let us know if the personal information that we hold about you needs to be corrected or updated.</p>

			<p><strong>13. Cookies</strong></p>
			<p>13.1. Portions of our website uses cookies.</p>
			<p>13.2. A cookie is a file containing an identifier (a string of letters and numbers) that is sent by a web server to a web browser and is stored by the browser. The identifier is then sent back to the server each time the browser requests a page from the server.</p>
			<p>13.3. Cookies may be either "persistent" cookies or "session" cookies: a persistent cookie will be stored by a web browser and will remain valid until its set expiry date, unless deleted by the user before the expiry date; a session cookie, on the other hand, will expire at the end of the user session, when the web browser is closed.</p>
			<p>13.4. Cookies do not typically contain any information that personally identifies a user, but personal information that we store about you may be linked to the information stored in and obtained from cookies.</p>
			<p>13.5. We use [only session cookies] OR [only persistent cookies] OR [both session and persistent cookies] on our website.</p>
			<p>13.6. The names of the cookies that we use on our website, and the purposes for which they are used, are set out below:</p>
			<p>i. we use [cookie name] to [recognise a computer when a user visits our website] OR [track users as they navigate the website] OR [enable the use of a shopping cart on the website] OR [improve the website's usability] OR [administer the website] OR [prevent fraud and improve the security of the website] OR [personalise the website for each user] OR [target advertisements which may be of particular interest to specific users] OR [validate authenticated users sessions] OR [facilitate the use of our website search engine] OR [[specify purpose]].</p>
			<p>13.7. Most browsers allow you to refuse to accept cookies. </p>
			<p>13.8. Blocking all cookies will have a negative impact upon the usability of many websites.</p>
			<p>13.9. If you block cookies, you will not be able to use all the features on our website.</p>
			<p>13.10. You can delete cookies already stored on your computer.</p>
			<p>13.11. Deleting cookies will have a negative impact on the usability of many websites.</p>


			<p><strong>14. Our details</strong></p>
			<p>14.1. This website is owned and operated by DataCite.</p>
			<p>14.2. DataCite is a German association registered as “DataCite –International  Data  Citation  Initiative.”  The DataCite Association registered office is in Hannover, Germany. </p>
			<p>14.3. The registered address is Welfengarten 1B, 30167 Hannover, Germany.</p>
			<p>14.4. You can contact us:</p>
			<p>i. by post, using the postal address [given above];</p>
			<p>ii. By email using using support@datacite.org.</p>
			
		</div>
	</section>


