---
title: DataCite - Profiles
---

    <header class="image-bg-fixed-height-small">
		<div class="jumbotron">
		  <h1>Profiles</h1>
		</div>
    </header>

	<section>
		<div class="container section-content">
			<h1>service description</h1>
			<p>
				DataCite Profiles integrates DataCite services from a user’s perspective and provides tools for personal use. 
				In particular, it is a key piece of integration with <%= link_to 'ORCID', 'http://orcid.org' %>, where researchers can connect 
				their profiles and get automatic updates of their ORCID record when any of their works obtains a DOI.
			</p>
			<p>
				From the Members perspective, this services provides them an interface to manage their Membership information 
				and the contact details of their organisation. 
			</p>
			
			<h1>access details</h1>
			<p>
				- Accessible through: <%= link_to 'http://profiles.labs.datacite.org', 'http://profiles.labs.datacite.org' %> <br />
				- Intended users: DataCite Members, Member Users, Community<br />
				- Availability: <%= link_to 'http://status.datacite.org', 'http://status.datacite.org' %> 
			</p>
			<h1>learn more</h1>
			<p>
				- DataCite blog: <%= link_to 'http://blog.datacite.org/announcing-datacite-profiles-service/', 'http://blog.datacite.org/announcing-datacite-profiles-service/' %> 
			</p>
			
		</div>
	</section>
