---
title: Welcome to DataCite
---

    <header class="image-bg-fixed-height-small">
		<div class="jumbotron">
		  <h1>re3data</h1>
		</div>
    </header>

	<section>
		<div class="container section-content">
			<h1>service description</h1>
			<p>re3data is a global registry of research data repositories from a diverse range of academic disciplines. It provides information on repositories for the permanent storage and access of data sets to researchers, funding bodies, publishers and scholarly institutions. This DataCite service is referenced by multiple publishers in their editorial policies as the best tool to identify the most appropriate data repository and recommended in the European Commission’s Guidelines on Open Access to Scientific Publications and Research Data in Horizon 2020.</p>
			<h1>access details</h1>
			<p>
				- Accessible through: <%= link_to 'http://re3data.org', 'http://re3data.org' %><br />
				- Intended users: Community
			</p>
			<h1>learn more</h1>
			<p>
				- re3data.org Metadata Schema Documentation 3.0: <%= link_to '10.2312/re3.008', 'http://doi.org/10.2312/re3.008' %> <br />
				- re3data Metadata Schema Definition 3.0: <%= link_to '10.2312/re3.009', 'http://doi.org/10.2312/re3.009' %>

			</p>
		</div>
	</section>