---
title: DataCite - re3data
---

<header class="image-bg-fixed-height-small">
  <div class="jumbotron">
    <h1>
      re3data
    </h1>
  </div>
</header>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-9 section-content">
        <h1>service description</h1>
        <p>
          re3data is a global registry of research data repositories from a
          diverse range of academic disciplines. It provides information on
          repositories for the permanent storage and access of data sets to
          researchers, funding bodies, publishers and scholarly institutions.
          This DataCite service is referenced by multiple publishers in their
          editorial policies as the best tool to identify the most appropriate
          data repository and recommended in the European Commission’s
          <%= link_to 'Guidelines on Open Access to Scientific Publications and
          Research Data in Horizon 2020',
          'http://ec.europa.eu/research/participants/data/ref/h2020/grants_manual/hi/oa_pilot/h2020-hi-oa-pilot-guide_en.pdf' %>.
        </p>
      </div>
      <div class="col-md-3 bg-primary sidebox">
        <h1>access details</h1>
        <ul>
          <li> Accessible through:
            <br /> <i class="fa fa-external-link"></i>
            <%= link_to 'http://re3data.org', 'http://re3data.org' %>
          <li>
            Intended users:
            <ul>
              <li>- DataCite members
                <br />- Users and integrators
                <br />- Community
            </ul>
        </ul>
        <h1>learn more</h1>
        <ul>
          <li>Metadata Documentation 3.0:
            <br /> <i class="fa fa-external-link"></i>
            <%= link_to 'http://doi.org/10.2312/re3.008',
            'http://doi.org/10.2312/re3.008' %>
            <br />
          <li>Metadata Definition 3.0:
            <br /> <i class="fa fa-external-link"></i>
            <%= link_to 'http://doi.org/10.2312/re3.008',
            'http://doi.org/10.2312/re3.009' %>
        </ul>
      </div>
    </div>
  </div>
</section>