---
title: DataCite - Service status
---

    <header class="image-bg-fixed-height-small">
		<div class="jumbotron">
		  <h1>Service Status</h1>
		</div>
    </header>

	<section>
		<div class="container section-content">
			<h1>service description</h1>
			<p>
			As a provider of crucial scholarly infrastructure, it is critical that DataCite not only provides a reliable service, but also properly communicates technical issues. The best way to do this is via a central status page, a best practice used by many organisations.
			</p>
			<p>
			DataCite's status page provides information about scheduled maintenance, service outages and statistics. It is accessible via a web interface, an API, a mailing list and Twitter. 
			</p>
			<h1>Access details</h1>
			<p>
				- Accessible through: <%= link_to 'http://stats.datacite.org', 'http://stats.datacite.org' %> and <%= link_to 'http://twitter.com/datacitetech', 'http://twitter.com/datacitetech' %> <br />
				- Intended users: Members, Member Users/Clients
			</p>
			<h1>Learn more</h1>
			<p>
				- DataCite blog: <%= link_to 'http://blog.datacite.org/launching-datacite-status-page/', 'http://blog.datacite.org/launching-datacite-status-page/' %> 
			</p>
			
		</div>
	</section>
