---
title: DataCite - Service status
---

    <header class="image-bg-fixed-height-small">
		<div class="jumbotron">
		  <h1>Service Status</h1>
		</div>
    </header>

	<section>
		<div class="container">
            <div class="row">
                <div class="col-md-9 section-content">	
					<h1>service description</h1>
				<p>
				As a provider of crucial scholarly infrastructure, it is critical that DataCite not only provides a reliable service, but also properly communicates technical issues. The best way to do this is via a central status page, a best practice used by many organisations.
				</p>
				<p>
				DataCite's status page provides information about scheduled maintenance, service outages and statistics. It is accessible via a web interface, an API, a mailing list and Twitter. 
				</p>
				</div>
				
				<div class="col-md-3 bg-primary sidebox">
					<h1>access details</h1>
					<ul>
						<li> Accessible through:
							<br /> <i class="fa fa-external-link"></i>
							<%= link_to 'http://status.datacite.org', 'http://status.datacite.org' %>  
						<li> Intended users: 
							<ul>
								<li>- DataCite members
								<br />- Users and integrators
								<br />- Community
							</ul>
					</ul>
					<h1>learn more</h1>
					<ul>
						<li>DataCite blog: 
							<br /> <i class="fa fa-external-link"></i>
							<%= link_to 'http://blog.datacite.org/lau...', 'http://blog.datacite.org/launching-datacite-status-page/' %> 
					</ul>
				</div>
			</div>
		</div>
	</section>