---
title: DataCite - Staff
---


    <header class="image-bg-fixed-height-small">
		<div class="jumbotron">
		  <h1>Staff</h1>
		</div>
    </header>

	<section>
		<div class="container section-content">
			<h1>about us</h1>
			<p>DataCite is a distributed organization with a central business office located at the German National 
				Library of Science and Technology in Hannover, Germany.
			</p>
		</div>
	</section>
	
    <section>
        <div class="container-fluid bg-primary">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="svc-heading">Staff members</h1>
				</div>
				<div class="container">
					<div class="row text-center">
						<div class="col-md-4 col-sm-4 svc-item">
							<div class="thumbnail">
								<%= image_tag "staff_trisha.jpg" %>
								<div class="caption">
									<h4>Patricia Cruse<br />(Executive Director)<br />@trishacruse</h4>
									<p>Trisha leads DataCite with a strong commitment and passion for data sharing. As Executive Director, her role
										is to advance DataCite’s mission, build strategic partnerships and work with a diverse community of
										stakeholders. Prior to joining DataCite, Trisha was the Director of the University of California 
										Curation
										Center (UC3) at the California Digital Library (CDL). In addition, Trisha also is a co-PI on the DataONE
										initiative  and co-leads sustainability and governance activities.  Trisha holds an MLIS from the
										University of California, Berkeley. </p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 svc-item">
							<div class="thumbnail">
								<%= image_tag "staff_martin.jpg" %>
								<div class="caption">
									<h4>Martin Fenner<br />(Technical Director)<br /> @mfenner</h4>
									<p>Martin Fenner envisions, develops, implements and manages 
										a robust technical architecture for Datacite as well as DataCite’s technical contributions 
										for the EU-funded THOR project. Until 2015 he was technical lead for the PLOS 
										Article-Level Metrics project. He served on the Board of the Open Researcher and Contributor 
										ID (ORCID) initiative from 2010-2012, and worked for ORCID EU in the EU-funded ODIN project 
										from 2012 to 2013. Martin has a medical degree from the Free University of Berlin and is a
										Board-certified medical oncologist. </p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 svc-item">
							<div class="thumbnail">
								<%= image_tag "staff_laura.jpg" %>
								<div class="caption">
									<h4>Laura Rueda<br />(Communications Director)<br />@espacial</h4>
									<p>Laura is in charge of communication, outreach and training activities for DataCite and leads 
										DataCite’s  contributions to the THOR Project. Adoption and awareness among the 
										wide research community are her main goals. She holds an MSc in Computer Science as well as in 
										Knowledge Management. Previously she combined technical work, UI/UX design and 
										outreach for the European Organization for Nuclear Research (CERN) and took part in the ODIN project.
										 She is passionate about statistics, vector images and Murakami’s novels.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row text-center">
						<div class="col-md-4 col-sm-4 svc-item">
							<div class="thumbnail">
								<%= image_tag "staff_britta.jpg" %>								
								<div class="caption">
									<h4>Britta Dreyer<br />(Business Manager)<br />@dreyer_britta</h4>
									<p> Britta Dreyer is managing the DataCite business office. Member support and the daily business are her
										 main activities. She holds a BSM from the Pepperdine University in Malibu and an MBA from 										 the University of Applied Sciences and Arts in Hannover. I the past years she managed alongside 
										 her husband the family business. Her fields of work included staff, marketing and process
										 optimization. She is passionate about project management, communication psychology and her 
										 three children. </p>
								</div>
							</div>
						</div>
						
					</div>
				</div>
            </div>
        </div>
    </section>
