---
title: DataCite - Stats
---

<header class="image-bg-fixed-height-small">
  <div class="jumbotron">
    <h1>
      Statistics
    </h1>
  </div>
</header>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-9 section-content">
        <h1>service description</h1>
        <p>
          DataCite provides statistics for both DOI registrations and DOI
          resolutions, filtered by Allocator, Data Center or Prefix via our
          DataCite Metadata Stats service.
        </p>
        <p>
          Registration statistics relate to datasets that have been uploaded
          and received a DataCite DOI, while resolution statistics provide
          information on how a DOI has been used to access a dataset.
        </p>
      </div>
      <div class="col-md-3 bg-primary sidebox">
        <h1>access details</h1>
        <ul>
          <li> Accessible through:
            <br /> <i class="fa fa-external-link"></i>
            <%= link_to 'http://stats.datacite.org',
            'http://stats.datacite.org' %>
          <li>
            Intended users:
            <ul>
              <li>- DataCite members
                <br />- Users and integrators
                <br />- Community
            </ul>
          <li> User documentation:
            <br /> <i class="fa fa-external-link"></i>
            <%= link_to 'http://support.datacite.org',
            'https://support.datacite.org/docs/datacite-statistics' %>
        </ul>
      </div>
    </div>
  </div>
</section>