---
title: DataCite - Stats
---

    <header class="image-bg-fixed-height-small">
		<div class="jumbotron">
		  <h1>Statistics</h1>
		</div>
    </header>

	<section>
		<div class="container section-content">
			<h1>service description</h1>
			<p>
				DataCite provides statistics for both DOI registrations and DOI resolutions, filtered by Allocator, Data Center or Prefix via our DataCite Metadata Stats service. 
			</p>
			<p>
				Registration statistics relate to datasets that have been uploaded and received a DataCite DOI, while resolution statistics provide information on how a DOI has been used to access a dataset. 
			</p>
			<h1>access details</h1>
			<p>
				- Accessible through: <%= link_to 'http://stats.datacite.org', 'http://stats.datacite.org' %> <br/>
				- Intended users: Members, Member Users, Community
			</p>
		</div>
	</section>

