---
title: DataCite - Steering groups
---

<header class="image-bg-fixed-height-small">
  <div class="jumbotron">
    <h1>
      Steering Groups
    </h1>
  </div>
</header>

<section>
  <div class="container section-content">
    <h1>a community driven organisation</h1>
    <p>
      DataCite is a community driven organization, and we encourage involvement
      from people that share our data sharing vision. To help guide and support
      our growth and our ongoing development, DataCite has formed three
      Steering Groups: Sustainability and Business, Services and Technology,
      and Community and Engagement. Our Steering Groups provide a venue
      for open participation by interested community members and help us with
      priority setting and identify strategies related to sustainability
      planning, services, and outreach.
    </p>
    <h1>sustainability and business steering group (sbsg)</h1>
    <p>
      The SBSG is responsible for reviewing, modifying and suggesting policies
      and best practices that support DataCite’s membership, services, and
      products. The group is also responsible for advising on DataCite’s
      financial models and recommending strategies to ensure DataCite’s
      sustainability. The SBSG aligns its work with SSG and OSG so that
      policies support technical and service development and provide a
      consistent message to the wider research community.
    </p>

		<p>
			Current Sustainability and Business Steering Group Members:<br /><br />

			- Ian Bruno, Cambridge Crystallographic Data Centre<br />
			- Trisha Cruse, DataCite<br />
			- Britta Dreyer, DataCite<br />
			- Cyndie Found, National Research Council Canada<br />
			- Mike Frame, U.S. Geological Survey<br />
			- Barbara Hirschmann, ETH Zurich<br />
			- Rachael Kotarski, British Library<br />
			- Mark Martin, Office of Science and Technical Information<br />
			- Brian Matthews, Science and Technology Facilities Council<br />
			- Valerie McCutcheon, University of Glasgow <br />
			- Robert McDonald, Indiana University<br />
			- Salvatore Mele, European Organization for Nuclear Research <br />
			- Kristen Ratan, Collaborative Knowledge Foundation<br />
			- Erin Robinson, Earth Science Information Partners <br />
			- Joan Starr, California Digital Library <br />
			- Mohamed Yahia, Institut de l'information scientifique et technique<br />
		</p>

    <h1>services and technology steering group (stsg)</h1>
    <p>
      The STSG is responsible for providing expertise and advice on DataCite’s
      open source and service development. Suggesting and reviewing technical
      approaches and services to evaluate their impact and effectiveness. The
      SSG aligns its work with the SBSG and the CESG so that technology and
      services are aligned with DataCite’s policies and communication efforts.
    </p>
    <p>
      Reporting to STSG, the Metadata Working Group determines and maintains
      DataCite's metadata standard, in consultation with DataCite members and
      under the guidance of the DataCite Board. The working group actively
      seeks the broader community’s input and coordinates with community
      standards, such as ORCID, Open Funder Registry, IDF and DCMI.
    </p>
    <p>
      Reporting to STSG, the re3data Working Group, supports and develops the
      global registry of research data repositories, covering different
      academic disciplines.
    </p>
		<p>
			Current Services and Technology Steering Group Members:<br /><br />

			- Amir Aryani, Australian National Data Service<br />
			- John Chodacki, University of California Curation Center<br />
			- Mercè Crosas, Harvard University<br />
			- Robin Dasler, DataCite <br />
			- Tom Demeranville, ORCID<br />
			- Madeleine de Smaele, Delft University of Technology<br />
			- Martin Fenner, DataCite<br />
			- Kristian Garza, DataCite<br />
			- Greg Janee, California Digital Library<br />
			- Sebastian Karcher, Qualitative Data Repository<br />
			- Jens Klump, Commonwealth Scientific and Industrial Research Organisation<br />
			- Matthew Lightfoot, Cambridge Crystallographic Data Centre<br />
      - Pascal Becker, The Library Code GmbH / Technische Universität Berlin <br />
			- Jennifer Lin, Crossref<br />
			- Uwe Schindler, Zentrum für Marine Umweltwissenschaften<br />
			- Shayne Urbanowski, U.S. Geological Survey<br />
			- Todd Vision, Dryad<br />
			- Antony Wilson, Science and Technology Facilities Council<br />
			- Michael Witt, Purdue University<br />
		</p>

    <h1>community engagement steering group (cesg)</h1>
    <p>
      The CESG is responsible for identifying outreach needs for the DataCite
      community, including current and potential members as well as the broader
      research community. This includes: monitoring and assessing community needs and
      providing feedback on DataCite’s priorities and services; recommending
      strategies and tools to communicate about DataCite’s services, features,
      and plans; helping to build relationships, cultivate discussions and promote collaboration among the
      DataCite community; and involvement in DataCite’s annual meetings. The CEST aligns its work with the SBSG and STSG so that activities
      support DataCite’s services and policies.
    </p>
		<p>
			Current Community Engagement Steering Group Members:<br /><br />

			- Stephane Berghmans, Elsevier<br />
			- Amber Budden, DataONE<br />
			- Jez Cope, British Library<br />
			- Helena Cousijn, DataCite<br />
			- Brigitte Hausstein, GESIS Leibniz-Institut für Sozialwissenschaften<br />
			- Ginny Hendricks, Crossref<br />
			- Mary Hirsch, DataCite<br />
			- Amy Hodge, Stanford Libraries<br />
			- Catherine Jones, Science and Technology Facilities Council<br />
			- Angelina Kraft, Technische Informationsbibliothek<br />
			- Alice Meadows, ORCID<br />
			- Natasha Simons, Australian Research Data Commons<br />
			- Nicholas Wolf, New York University<br />
		</p>
  </div>
</section>
