---
title: DataCite <li>Steering groups
---

<header class="image-bg-fixed-height-small">
  <div class="jumbotron">
    <h1>
      Steering Groups
    </h1>
  </div>
</header>

<section>
  <div class="container section-content">
    <h1>a community driven organisation</h1>
    <p>
      DataCite is a community driven organization, and we encourage involvement
      from people that share our data sharing vision. To help guide and support
      our growth and our ongoing development, DataCite has two
      Steering Groups: Services and Technology,
      and Community and Engagement. Our Steering Groups provide a venue
      for open participation by interested community members and help us with
      priority setting and identify strategies related to sustainability
      planning, services, and outreach.
    </p>
    <h1>services and technology steering group (stsg)</h1>
    <p>
      The STSG is responsible for providing expertise and advice on DataCite’s
      open source and service development. Suggesting and reviewing technical
      approaches and services to evaluate their impact and effectiveness. The
      STSG aligns its work with the CESG so that technology and
      services are aligned with DataCite’s community engagement efforts.
    </p>
    <p>
      Reporting to STSG, the Metadata Working Group determines and maintains
      DataCite's metadata standard, in consultation with DataCite members and
      under the guidance of the DataCite Board. The working group actively
      seeks the broader community’s input and coordinates with community
      standards, such as ORCID, Open Funder Registry, DOI Foundation and DCMI.
    </p>
    <p>
      Reporting to STSG, the re3data Working Group, supports and develops the
      global registry of research data repositories, covering different
      academic disciplines.
    </p>
	<h2>Current Services and Technology Steering Group Members</h2>
	<ul>
		<li>Torsten Reimer, British Library (Chair)</li>
		<li>Amir Aryani, Australian National Data Service</li>
		<li>Pascal Becker, The Library Code GmbH / Technische Universität Berlin </li>
		<li>Robin Dasler, DataCite </li>
		<li>Tom Demeranville, ORCID</li>
		<li>Gustavo Durand, Harvard University</li>
		<li>Martin Fenner, DataCite</li>
		<li>Vasile 'Tudor' Garbulet, Oak Ridge National Laboratory</li>
		<li>Kristian Garza, DataCite</li>
		<li>Richard Hallett, DataCite</li>
		<li>Sebastian Karcher, Qualitative Data Repository</li>
		<li>Jens Klump, Commonwealth Scientific and Industrial Research Organisation</li>
		<li>Matthew Lightfoot, Cambridge Crystallographic Data Centre</li>
		<li>Tim Robertson, GBIF</li>
		<li>Henry Rzepa, Imperial College</li>
		<li>Uwe Schindler, Zentrum für Marine Umweltwissenschaften</li>
		<li>Madeleine de Smaele, Delft University of Technology</li>
		<li>Antony Wilson, Science and Technology Facilities Council</li>
		<li>Sarala Wimalaratne, DataCite</li>
		<li>Michael Witt, Purdue University</li>
	</ul>

    <h1>community engagement steering group (cesg)</h1>
    <p>
      The CESG is responsible for identifying outreach needs for the DataCite
      community, including current and potential members as well as the broader
      research community. This includes: monitoring and assessing community needs and
      providing feedback on DataCite’s priorities and services; recommending
      strategies and tools to communicate about DataCite’s services, features,
      and plans; helping to build relationships, cultivate discussions and promote collaboration among the
      DataCite community; and involvement in DataCite’s annual meetings. The CEST aligns its work with the SBSG and STSG so that activities
      support DataCite’s services and policies. The CESG works with several regional Expert Groups.
    </p>
	<h2>Current Community Engagement Steering Group Members:</h2>
	<ul>
		<li>Rebecca Ross, CRKN (Co-Chair)</li>
		<li>Natasha Simons, Australian Research Data Commons (Co-Chair)</li>
		<li>Paloma Marin Arraiza, ORCID</li>
		<li>Jez Cope, British Library</li>
		<li>Helena Cousijn, DataCite</li>
		<li>Andrea Goethals, NLNZ</li>
		<li>Brigitte Hausstein, GESIS Leibniz-Institut für Sozialwissenschaften</li>
		<li>Ginny Hendricks, Crossref</li>
		<li>Amy Hodge, Stanford Libraries</li>
		<li>Alice Meadows, NISO</li>
		<li>Daniel Noesgard, GBIF</li>
		<li>Carly Robinson, DOE</li>
		<li>Federica Rosetta, Elsevier</li>
		<li>Paul Vierkant, DataCite</li>
		<li>Nicholas Wolf, New York University</li>
	</ul>
	<h2>Current Americas Expert Group Members:</h2>
	<ul>
		<li>Rebecca Ross, CRKN (Co-Chair)</li>
		<li>Liz Krznarich, DataCite</li>
		<li>Maria Lucia Lizarazo, Universidad del Rosario</li>
		<li>Sheila Rabun, LYRASIS</li>
		<li>Carly Robinson, DOE</li>
		<li>Washington Segundo, IBICT and LA Referencia</li>
		<li>Kelly Stathis, Portage Network</li>
		<li>Robinson Zapata, SENACYT</li>
	</ul>
	<h2>Current APAC Expert Group Members:</h2>
	<ul>
		<li>Natasha Simons, Australian Research Data Commons (Co-Chair)</li>
		<li>Helena Cousijn, DataCite</li>
		<li>Scott Edmunds, GigaScience</li>
		<li>Masashi Hara, JST and JaLC</li>
		<li>Nobuko Miyairi, consultant</li>
		<li>Rebekah Wong, Hong Kong Baptist University Library</li>
	</ul>
  </div>
</section>
