---
title: DataCite Steering groups
---

<header class="image-bg-fixed-height-small">
  <div class="jumbotron">
    <h1>
      Steering and Working Groups
    </h1>
  </div>
</header>

<section>
  <div class="container section-content">
    <h1>a community driven organisation</h1>
    <p>
      DataCite is a community driven organization, and we encourage involvement
      from people that share our data sharing vision. To help guide and support
      our growth and our ongoing development, DataCite has two
      Steering Groups: Services and Technology,
      and Community and Engagement. Our Steering Groups provide a venue
      for open participation by interested community members and help us with
      priority setting and identify strategies related to sustainability
      planning, services, and outreach.
    </p>
    <h1 id="stsg">services and technology steering group (stsg)</h1>
    <p>
      The Services and Technology Steering Group (STSG) is responsible for providing expertise and advice on DataCite’s product and technology development.
	The group is suggesting and reviewing product and technology solutions to evaluate their impact and effectiveness.
	The STSG aligns its work with the CESG so that product and technology are aligned with DataCite’s community engagement efforts.
    </p>
    <p>Refer to the <%= link_to 'Terms of Reference', 'https://datacite.org/documents/STSG_ToR.pdf' %> for more information.</p>
	<h2>Current Services and Technology Steering Group Members</h2>
	<ul>
		<li>Torsten Reimer, British Library (Chair)</li>
		<li>Pascal Becker, The Library Code GmbH </li>
		<li>Ian Bruno, Cambridge Crystallographic Data Centre </li>
		<li>Tom Demeranville, ORCID</li>
		<li>Tami Ezra, Ex Libris</li>
		<li>Brian Joseph Geiger, Center for Open Science</li>
		<li>Sebastian Karcher, Qualitative Data Repository</li>
		<li>Hylke Koers, STM Solutions</li>
		<li>Jens Klump, Commonwealth Scientific and Industrial Research Organisation</li>
		<li>Anne Catherine Raugh, University of Maryland</li>
		<li>Tim Robertson, GBIF</li>
		<li>Uwe Schindler, Zentrum für Marine Umweltwissenschaften</li>
		<li>Joe Wass, Crossref</li>
		<li>Antony Wilson, Science and Technology Facilities Council</li>
		<li>Michael Witt, Purdue University</li>
		<li>Sarala Wimalaratne, DataCite</li>
		<li>Kristian Garza, DataCite</li>
		<li>Richard Hallett, DataCite</li>
	</ul>

    <h1 id="cesg">community engagement steering group (cesg)</h1>
    <p>
      The CESG is responsible for identifying outreach needs for the DataCite community, including
      current and potential DataCite members as well as the broader research community. This
      includes: monitoring and assessing community needs and providing feedback on DataCite’s
      priorities and services; recommending strategies and tools to communicate about DataCite’s
      services, features, and plans; helping to build relationships, cultivate discussions and promote
      collaboration among the DataCite community; and involvement in DataCite’s annual meetings.
      The CESG aligns its work with the Services and Technology Steering Group so that activities
      support DataCite’s services and products. The CESG works with several regional Expert
      Groups. In addition, the CESG will coordinate with other new and existing DataCite governance
      groups as required. The CESG works with several regional Expert Groups.
    </p>
    <p>Refer to the <%= link_to 'Terms of Reference', 'https://datacite.org/documents/CESG_ToR.pdf' %> for more information.</p>
	<h2>Current Community Engagement Steering Group Members:</h2>
	<ul>
		<li>Rebecca Ross, CRKN (Co-Chair)</li>
		<li>Natasha Simons, Australian Research Data Commons (Co-Chair)</li>
		<li>Pierre-Yves Arnould, MESRI</li>
		<li>Paloma Marin Arraiza, ORCID</li>
		<li>Jez Cope, British Library</li>
		<li>Helena Cousijn, DataCite</li>
		<li>Julian Franken, TIB</li>
		<li>Alison Fromme, arXiv</li>
		<li>Andrea Goethals, NLNZ</li>
		<li>Ginny Hendricks, Crossref</li>
		<li>Amy Hodge, Stanford Libraries</li>
		<li>Alice Meadows, NISO</li>
		<li>Daniel Noesgard, GBIF</li>
		<li>Sheila Rabun, LYRASIS</li>
		<li>Carly Robinson, DOE</li>
		<li>Adam Vials Moore, JISC</li>
		<li>Paul Vierkant, DataCite</li>
		<li>Nicholas Wolf, New York University</li>
	</ul>
	<h2 id="AMERICAS-EG">Current Americas Expert Group Members:</h2>
	<ul>
		<li>Sheila Rabun, LYRASIS (Co-Chair)</li>
		<li>Carly Robinson, DOE (Co-Chair)</li>
		<li>John Aspler, CRKN</li>
		<li>Cameron Cook, University of Wisconsin-Madison</li>
		<li>Lisa Johnston, University of Minnesota</li>
		<li>Liz Krznarich, DataCite</li>
		<li>Maria Lucia Lizarazo, Universidad del Rosario</li>
		<li>Nydia Lopez, eScire</li>
		<li>Eric Olson, Center for Open Science</li>
		<li>Washington Segundo, IBICT and LA Referencia</li>
		<li>Kelly Stathis, Portage Network</li>
		<li>Robinson Zapata, SENACYT</li>
	</ul>
	<h2 id="APAC-EG">Current APAC Expert Group Members:</h2>
	<ul>
		<li>Natasha Simons, Australian Research Data Commons (Co-Chair)</li>
		<li>Xiaoli Chen, DataCite (Co-Chair)</li>
		<li>Scott Edmunds, GigaScience</li>
		<li>Masashi Hara, JST and JaLC</li>
		<li>Jia Liu, Chinese Academy of Sciences</li>
		<li>Sudip Pradhan, International Centre for Integrated Mountain Development</li>
		<li>Nobuko Miyairi, consultant</li>
		<li>Jung-Ho Um, KISTI</li>
		<li>Yan Yang, National Geological Archives of China</li>
	</ul>
	  <h2 id="EMEA-EG">Current EMEA Expert Group Members:</h2>
	<ul>
		<li>Jez Cope, British Library (Co-Chair)</li>
		<li>Tiwonge Banda, UbuntuNet Alliance</li>
		<li>Behrooz Chamanara, IIKS</li>
		<li>Elise Harder, TU Wien</li>
		<li>Liisi Lembinen, University of Tartu</li>
		<li>Olatunbosun, Obileye, IITA</li>
		<li>Martina Stockhause, DKRZ</li>
		<li>Paul Vierkant, DataCite</li>
		<li>Marcin Werla, QNL</li>
		<li>Lynn Woolfrey, DataFirst</li>
	</ul>
    <h1 id="metadata-working-group">metadata working group</h1>
    <p>
      The key to making research citable, searchable and accessible is registering datasets
      and other research outputs with metadata – descriptions of and facts and figures about
      the data – that meets basic standards and adheres to uniform, consistent schema.
    </p>
    <p>
    The Metadata Working Group (WG) determines and maintains DataCite’s metadata
    standard, in consultation with DataCite members and under the guidance of the DataCite
    Board. The working group actively seeks the broader community’s input and coordinates
    with community standards, such as ORCID, DOI Foundation and DCMI.
    </p>
    <p>Refer to the <%= link_to 'Terms of Reference', 'https://datacite.org/documents/Metadata_WG_ToR.pdf' %> for more information.</p>
	<h2>Current Metadata Working Group Members</h2>
	<ul>
		<li>Isabel Bernal, CSIC (co-chair)</li>
		<li>Jan Ashton, British Library (co-chair)</li>
		<li>Marleen Burger, TIB</li>
		<li>Madeleine de Smaele, TU Delft Library </li>		
		<li>Samantha Foulger, ETH Zurich</li>
		<li>Vanessa Gabriel, University Library of the LMU Munich</li>
		<li>Ted Habermann, Metadata Game Changers</li>
		<li>Joseph Padfield, The National Gallery</li>
		<li>Sarah Ramdeen, Columbia University</li>
		<li>Anne Raugh, Univ. of Maryland</li>	
		<li>Wendy Robertson, University of Iowa</li>
		<li>Mike Shallcross, Inter-university Consortium for Political and Social Research</li>
		<li>Kelly Stathis, NDRIO|NOIRN</li>		
		<li>Mohamed Yahia, INIST-CNRS</li>		
		<li>Sarala Wimalaratne, DataCite</li>
		<li>Kristian Garza, DataCite</li>
	</ul>
  </div>
</section>
