---
title: DataCite - Steering Groups
---

    <header class="image-bg-fixed-height-small">
		<div class="jumbotron">
		  <h1>Steering Groups</h1>
		</div>
    </header>

	<section>
		<div class="container section-content">
			<h1>a community driven organisation</h1>			
			<p>
				DataCite is a community driven organization, and we encourage involvement from people 
				that share our data sharing vision. To help guide and support our growth and our 
				ongoing development, DataCite has formed three Steering Groups: Sustainability and 
				Business, Services and Technology, and Community and Engagement. Our Steering Groups provide a venue 
				for open participation by interested community members and help us with priority 
				setting and identify strategies related to sustainability planning, services, and outreach.
			</p>
			
			<h1>sustainability and business steering group (sbsg)</h1>
			<p>
				The SBSG is responsible for reviewing, modifying and suggesting policies and best practices 
				that support DataCite’s membership, services, and products. The group is also responsible 
				for advising on DataCite’s financial models and recommending strategies to ensure DataCite’s 
				sustainability. The SBSG aligns its work with SSG and OSG so that policies support technical 
				and service development and provide a consistent message to the wider research community.
			</p>
			<h1>services and technology steering group (stsg)</h1>
			<p>
				The STSG is responsible for providing expertise and advice on DataCite’s open source and 
				service development. Suggesting and reviewing technical approaches and services to evaluate 
				their impact and effectiveness. The SSG aligns its work with the SBSG and the CESG so that 
				technology and services are aligned with DataCite’s policies and communication efforts. 
			</p>
			<p>
				Reporting to STSG, the Metadata Working Group determines and maintains DataCite's metadata
				standard, in consultation with DataCite members and under the guidance of the DataCite Board.
				The working group actively seeks the broader community’s input and coordinates with community
				standards, such as ORCID, Open Funder Registry, IDF and DCMI.
			</p>
			<p>
				Reporting to STSG, the re3data Working Group, supports and develops the global registry of
				research data repositories, covering different academic disciplines.
			</p>
			<h1>community and engagement steering group (cesg)</h1>
			<p>			
				The CESG is responsible for identifying outreach needs for DataCite community, including 
				current and potential members as well as the broader research community. Monitoring and assessing 
				community needs and providing feedback on DataCite’s priorities and services. Recommending 
				strategies and tools to communicate about DataCite’s services, features, and plans. Creating 
				marketing materials and recommending delivery mechanisms and assessing their effectiveness. 
				Helping to build relationships, cultivate discussions and promote collaboration among the 
				DataCite community. Assisting with the organization of DataCite’s annual meetings. The CEST 
				aligns its work with the SBSG, STSG so that activities support with DataCite’s services and
				policies.
			</p>			
		</div>
	</section>
