---
title: DataCite - Terms and Conditions
---

    <header class="image-bg-fixed-height-small">
		<div class="jumbotron">
		  <h1>Terms and Conditions</h1>
		</div>
    </header>

	<section>
		<div class="container section-content">
			<h1>datacite terms and conditions</h1>
			<p><u>Introduction</u></p>
			<p>These terms and conditions govern your use of this (DataCite’s) website; by using this website, you accept these terms and conditions in full. If you disagree with these terms and conditions or any part of these terms and conditions, you must not use this website.</p>
 
<p>Some parts of this website may be subject to additional terms and conditions which will be made available to you as appropriate.</p>
 
<p>Parts of this website uses cookies. By using this website and agreeing to these terms and conditions, you consent to our DataCite's use of cookies in accordance with the terms of DataCite's Privacy Policy.</p>

<p><u>License to use website</u></p>
<p>Unless otherwise stated, DataCite and/or its licensors own the intellectual property rights in the website and material on the website.  Subject to the license below, all these intellectual property rights are reserved.</p>
 
<p>You may view, download for caching purposes only, and print pages or other content from the website for your own personal use, subject to the restrictions set out below and elsewhere in these terms and conditions. </p>
 
<p>You must not:</p>
<p>
- republish material from this website (including republication on another website) without prior consent;<br />
- sell, rent or sub-license material from the website;<br />
- reproduce, duplicate, copy or otherwise exploit material on this website for a commercial purpose;<br />
- edit or otherwise modify any material on the website; or<br />
- redistribute material from this website except for content specifically and expressly made available for redistribution.
</p>

<p><u>Acceptable use</u></p>
<p>You must not use this website in any way that causes, or may cause, damage to the website or impairment of the availability or accessibility of the website; or in any way which is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity.</p>
 
<p>You must not use this website to copy, store, host, transmit, send, use, publish or distribute any material which consists of (or is linked to) any spyware, computer virus, Trojan horse, worm, keystroke logger, rootkit or other malicious computer software.</p>
 
<p>You must not conduct any systematic or automated data collection activities (including without limitation scraping, data mining, data extraction and data harvesting) on or in relation to this website without DataCite’s express written consent.</p>
 
<p><u>Restricted access</u></p>
<p>Access to certain areas of this website may be restricted.  DataCite reserves the right to restrict access to areas of this website, or indeed this entire website, at DataCite’s discretion.</p>
 
<p>If DataCite provides you with a user ID and password to enable you to access restricted areas of this website or other content or services, you must ensure that the user ID and password are kept confidential. </p>
 
<p>DataCite may disable your user ID and password in DataCite sole discretion without notice or explanation.</p>
 
<p><u>Copyright</u></p>
<p>The content and works published on DataCite’s website, blog and twitter are governed by the copyright laws of Germany. Any duplication, processing, distribution or any form of utilization beyond the scope of copyright law shall require the prior written consent of the author or authors in question.</p>
 
<p><u>DOI and Metadata Ownership</u></p>
<p>DataCite asserts no claims of ownership to individual items of bibliographic metadata and associated Digital Object Identifiers (DOIs) acquired through the use of the DataCite’s. Individual items of bibliographic metadata and associated DOIs may be incorporated into the user’s content and systems.</p>
  
<p><u>User contributed content</u></p>
<p>In these terms and conditions, “your user content” means material (including without limitation text, images, audio material, video material and audio-visual material) that you submit to this website, for whatever purpose.</p>
 
<p>You grant to DataCite a worldwide, irrevocable, non-exclusive, royalty-free license to use, reproduce, adapt, publish, translate and distribute your user content in any existing or future media.  You also grant to DataCite the right to sub-license these rights, and the right to bring an action for infringement of these rights.</p>
 
<p>Your user content must not be illegal or unlawful, must not infringe any third party's legal rights, and must not be capable of giving rise to legal action whether against you or DataCite or a third party (in each case under any applicable law). </p>
 
<p>You must not submit any user content to the website that is or has ever been the subject of any threatened or actual legal proceedings or other similar complaint.</p>
 
<p>DataCite reserves the right to edit or remove any material submitted to this website, or stored on DataCite servers, or hosted or published upon this website.</p>
 
<p><u>No warranties</u></p>
<p>This website is provided “as is” without any representations or warranties, express or implied.  DataCite makes no representations or warranties in relation to this website or the information and materials provided on this website. </p>
 
<p>Without prejudice to the generality of the foregoing paragraph, DataCite does not warrant that:</p>
<p>
- this website will be constantly available, or available at all; or<br />
- the information on this website is complete, true, accurate or non-misleading.
</p>

<p>Nothing on this website constitutes, or is meant to constitute, advice of any kind.</p>
 
<p><u>Limitations of liability</u></p>
<p>DataCite will not be liable to you (whether under the law of contact, the law of torts or otherwise) in relation to the contents of, or use of, or otherwise in connection with, this website:</p>
<p>
- to the extent that the website is provided free-of-charge, for any direct loss;<br />
- for any indirect, special or consequential loss; or<br />
- for any business losses, loss of revenue, income, profits or anticipated savings, loss of contracts or business relationships, loss of reputation or goodwill, or loss or corruption of information or data.
</p>

<p><u>Limitation of liability for internal content</u></p>
<p>DataCite does not assume liability for the completeness or accuracy of any of the website.</p>
 
<p>Pursuant to section 7, para. 1 of the TMG (Telemediengesetz – Tele Media Act by German law), DataCite, as service providers, are liable for our own content on these pages in accordance with general laws. However, pursuant to sections 8 to 10 of the TMG, DataCite, as service providers are not under obligation to monitor external information provided or stored on our website. Once aware of a specific infringement of the law, DataCite will immediately remove the content in question. Any liability concerning this matter can only be assumed from the point in time at which the infringement becomes known to us.</p>
 
<p><u>Limitation of liability for external links</u></p>
<p>Our website, blog and twitter contains links to the websites of third parties (“external links”). As the content of these websites is not under our control, we cannot assume any liability for such external content. In all cases, the provider of information of the linked websites is liable for the content and accuracy of the information provided. At the point in time when the links were placed, no infringements of the law were recognisable to us. As soon as an infringement of the law becomes known to us, we will immediately remove the link in question.
 
<p>These limitations of liability apply even if you have been expressly advised of the potential loss.</p>
 
 
<p><u>Indemnity</u></p>
<p>You hereby indemnify DataCite and undertake to keep DataCite indemnified against any losses, damages, costs, liabilities and expenses (including without limitation legal expenses and any amounts paid by DataCite to a third party in settlement of a claim or dispute arising out of any breach by you of any provision of these terms and conditions.</p>
  
<p><u>Assignment</u></p>
<p>DataCite may transfer, sub-contract or otherwise deal with DataCite’s rights and/or obligations under these terms and conditions without notifying you or obtaining your consent.</p>
 
<p>You may not transfer, sub-contract or otherwise deal with your rights and/or obligations under these terms and conditions. </p>

<p><u>Breaches of these terms and conditions</u></p>
<p>Without prejudice to DataCite’s other rights under these terms and conditions, if you breach these terms and conditions in any way, DataCite may take such action as DataCite deems appropriate to deal with the breach.</p>

<p><u>Law and jurisdiction</u></p>
<p>Use of this website and the interpretation of this Disclaimer shall be governed by and construed in accordance with the laws of Germany, without regard to conflict of law provisions. Any dispute arising out of this Agreement shall be resolved in the courts in Germany. Through your continued use of this website, you agree to submit to the personal jurisdiction of the courts of Germany. DataCite - International Data Citation Initiative e.V. may change this Disclaimer at any time without notice to you and without liability to you or any other party. It is your responsibility to periodically check this Disclaimer for changes. If you do not agree to any changes made to the Disclaimer, you should cease use of this website. Continued use of this website signifies acceptance of any changes made to the Disclaimer.</p>
 
<p><u>Registrations and authorizations</u></p>
<p>DataCite is a German association registered as “DataCite –International  Data  Citation  Initiative.”  The DataCite Association registered office is in Hannover, Germany. The registered address is Welfengarten 1B, 30167 Hannover, Germany.</p>

		</div>
	</section>
	