---
title: DataCite - Test environment
---


    <header class="image-bg-fixed-height-small">
		<div class="jumbotron">
		  <h1>Test Environment</h1>
		</div>
    </header>

	<section>
		<div class="container section-content">
			<h1>service description</h1>
			<p>
				In addition to the Metadata Store, DataCite has set up an environment for testing all of our services, 
				including the DOI registration. The test environment is a closed system: DOI names registered here 
				are not resolvable with any resolvers other than that of the test system. 
			</p>	
			<p>
				This service is intended to test new integrations, schemas, etc. If are planning to make use of it, 
				please contact <%= link_to 'support@datacite.org', 'mailto:support@datacite.org' %>  to create an account.
			</p>
		</div>
	</section>

